<h2>Shopping Cart</h2>
<section ng-repeat="items in $ctrl.item">
        Product:
        <input type="text" ng-blur="$ctrl.updateItem(items);" ng-model="items.product">
        Price:
        <input type="number"  step=".01"ng-blur="$ctrl.updateItem(items);" ng-model="items.price">
        Quanity:
        <input type="number" ng-blur="$ctrl.updateItem(items);" ng-model="items.quantity">
 
    <button ng-click = "$ctrl.removeItem(items.id)" class ="x">X</button>
    
</section>
<h2>Add Item</h2>
<form ng-submit="$ctrl.addItem($ctrl.newItem)">
<input type = "text" placeholder="Product" ng-model = "$ctrl.newItem.product"/>
<input type = "number" placeholder="Price" step=".01" ng-model = "$ctrl.newItem.price"/>
<input type = "number" placeholder="Quanity" ng-model = "$ctrl.newItem.quantity"/>
<button >Submit</button>

</form>